@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*,*:before,*:after{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: inline-block;
}

body{
    font-family: "Bruno Ace SC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container{
    width: 1296px;
    margin: 0 auto;
}

.bgBlack{
    background: #000;
}

.textWhite{
    color: #fff;
}

.container h2{
    font-size: 64px;
}

.menu .container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li a{
    padding-top: 40px;
    padding-bottom: 40px;
}

.header .container{
    display: flex;
    align-items: center;
}
.header .container > img{
    /* 只選擇直接子代 */
    margin-top: 72px;
    margin-bottom: 32px;
    padding-right: 24px;
}
.headerContent{
    display: flex;
    flex-direction: column;
}
.headerContent p{
    font-size: 64px;
}
.headerContent h1{
    color: #00FFA3;
    font-size: 128px;
    text-align: right;
}
.headerContent a{
    background: #fff;
    color: #000;
    align-self: flex-end;
    padding: 12px 24px;
    border-radius: 32px;
}

.intro .container{
    display: flex;
    padding-top: 160px;
    padding-bottom: 160px;
}
.introContent{
    margin-left: 24px;
}
.introContent p{
    margin-top: 36px;
    margin-bottom: 32px;
    font-size: 24px;
}
.introPhoto{
    display: flex;
}
.introPhoto img:nth-child(2){
    margin-left: 24px;
    margin-right: 24px;
}

.about{
    display: flex;
    align-items: center;
}
.about ul{
    width: 636px;
    height: 328px;
    margin-right: 134px;
    display: flex;
    flex-wrap: wrap;
}
.aboutCard{
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 1px;
    padding: 15px;
}
.aboutCard{
    margin-bottom: 24px;
}
.aboutCard:nth-child(odd){
    margin-right: 24px;
}
.aboutCard p{
    width: 274px;
    font-size: 20px;
}
.aboutCard p:nth-child(2){
    margin-top: 4px;
    margin-bottom: 4px;
}
.aboutCard p:last-child{
    font-size: 16px;
}
.aboutContent{
    width: 526px;
    margin-top: 160px;
    margin-bottom: 160px;
}
.aboutContent p{
    font-size: 24px;
    margin-top: 36px;
}

.contact{
    background: linear-gradient(to bottom, rgba(5, 0, 20, 1), rgba(1, 2, 30, 0.89));
}
.contact .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contactContent{
    display: flex;
}
.contactContent h2{
    margin-right: 16px;
}
.contactInfo img{
    margin-top: 96px;
    margin-bottom: 96px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
}
.contactInfo img:nth-child(2){
    margin-left: 20px;
    margin-right: 20px;
}
.contactInfo img:hover{
    filter: drop-shadow(0 0 16px rgba(144, 148, 255, 0.9))
            drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.project{
    margin-top: 160px;
    margin-bottom: 160px;
}
.project h2{
    width: 746px;
    margin-left: auto;
    margin-bottom: 16px;
}
.project .content{
    display: flex;
}
.project .right{
    margin-left: 24px;
}
.project .rightTop{
    display: flex;
    margin-bottom: 28px;
}
.projectContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}
.projectContent a{
    background: #000;
    color: #fff;
    align-self: flex-start;
    padding: 12px 24px;
    border-radius: 32px;
}

.footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}